node_modules
.env
vendor
.htaccess


# exclude everything
public/uploads/carts/*
# exception to the rule
!public/uploads/carts/.gitkeep 

# exclude everything
public/uploads/profiles/*
# exception to the rule
!public/uploads/profiles/.gitkeep 

